body
 {
    background-image: url("https://images.unsplash.com/photo-1503365268595-ee3947b49b1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Abel', sans-serif;
    font-family: 'Macondo', cursive;
    font-family: 'Montserrat', sans-serif;
}

/* footer {
    color: black;
}

#textarea1 {
    color: white;
} */

.restaurant-history, .restaurant-content, .weather-content {
    border: solid red;
    margin-right: 200px;
    margin-top: 15px;
}